<% provide(:title, "Hello") %>

<h1>hello</h1>

<h2>what I can do for you</h2>

<p>
Here’s what successful brands get: People don’t engage with a company or 
organization based on what it says or does—they engage based on how it 
makes them feel.
</p>

<p>
I use words to make people feel smarter, safer or straight-up badass. 
End your brand’s toxic relationship with cliché copy and stale storytelling. 
Ready to feel again? <%= link_to "Get in touch", contacts_new_path  %>.
</p>

<h2>brands I've been up close and personal with</h2>

<div class="logos">
  <%= image_tag "hudl.png", alt: "hudl" %>
  <%= image_tag "bank.png", alt: "hudl" %>
  <%= image_tag "firespring.png", alt: "hudl" %>
  <%= image_tag "safety.png", alt: "hudl" %>
  <%= image_tag "sanitation.png", alt: "hudl" %>
  <%= image_tag "paymentspring.png", alt: "hudl" %>
  <%= image_tag "viking.png", alt: "hudl" %>
  <%= image_tag "nebraska.png", alt: "hudl" %>
  <%= image_tag "airport.png", alt: "hudl" %>
  <%= image_tag "bluestem.png", alt: "hudl" %>
  <%= image_tag "soybean.png", alt: "hudl" %>
  <%= image_tag "berean.png", alt: "hudl" %>
  <%= image_tag "hilgers.png", alt: "hudl" %>
  <%= image_tag "launch.png", alt: "hudl" %>
</div>

<div class="cert">
  <%= image_tag "certification.png", alt: "hudl", class: "certification" %>
</div>