<% provide(:title, "Work") %>

<h1>work</h1>

<div class="work">
  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("eventmarketing1.png"), 
                  image_path( "eventmarketing1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("eventmarketing2.png"), 
                  image_path( "eventmarketing2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("eventmarketing3.png"), 
                  image_path( "eventmarketing3.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("eventmarketing4.png"), 
                  image_path( "eventmarketing4.png")) %>
    </div>
  </div>
  <div class="desc">
    <h3>Hudl Event Marketing</h3>
    <%= link_to "Hudl", "https://www.hudl.com/" %>
    <p>
      Event branding (naming and creative direction), marketing strategy, 
      copywriting, logistics coordination and production work. 
    </p>
  </div>

  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("productmarketing1.png"), 
                  image_path( "productmarketing1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("productmarketing2.png"), 
                  image_path( "productmarketing2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("productmarketing3.png"), 
                  image_path( "productmarketing3.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("productmarketing4.png"), 
                  image_path( "productmarketing4.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Hudl Product Marketing</h3>
    <%= link_to "Hudl", "https://www.hudl.com/" %>
    <p>
      Creative concept and web/digital ad copy for Hudl Focus and Hudl for 
      volleyball feature release. 
    </p>
  </div>

  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("videothumbnail1.png"), 
                  image_path( "https://vimeo.com/263021366")) %>
      <%= image_tag "playbutton.png", class: "overlay" %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("yourpart1.png"), 
                  image_path( "yourpart1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("videothumbnail2.png"), 
                  image_path( "https://vimeo.com/263022066")) %>
      <%= image_tag "playbutton.png", class: "overlay" %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("yourpart2.png"), 
                  image_path( "yourpart2.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Your Cart Plays a Part Campaign</h3>
    <%= link_to "Papillion Sanitation", "https://papillion-sanitation.com/yourcartplaysapart/" %>
    <p>
      Creative concept and copywriting for video, print and digital ads, 
      educational videos, direct mailers and website.
    </p>
  </div>

    <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("spring1.png"), 
                  image_path( "spring1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("spring2.png"), 
                  image_path( "spring2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("spring3.png"), 
                  image_path( "spring3.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("spring4.png"), 
                  image_path( "spring4.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Content Marketing and Social Media</h3>
    <%= link_to "PaymentSpring", "https://paymentspring.com/" %>
    <p>
      Content and social media strategy and implementation. 
    </p>
  </div>

  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("firespring1.png"), 
                  image_path( "firespring1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("firespring2.png"), 
                  image_path( "firespring2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("firespring3.png"), 
                  image_path( "firespring3.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("firespring4.png"), 
                  image_path( "firespring4.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("firespring5.png"), 
                  image_path( "firespring5.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Website</h3>
    <%= link_to "Firespring", "https://firespring.com/" %>
    <p>
      Copywriting.
    </p>
  </div>

  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("directmailer1.png"), 
                  image_path( "directmailer1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("directmailer2.png"), 
                  image_path( "directmailer2.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Direct Mailer</h3>
    <%= link_to "UNL State Museum", "https://museum.unl.edu/" %>
    <p>
      Creative concept, direction and copywriting.
    </p>
  </div>

  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("sandwich1.png"), 
                  image_path( "sandwich1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("sandwich2.png"), 
                  image_path( "sandwich2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("sandwich3.png"), 
                  image_path( "sandwich3.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("sandwich4.png"), 
                  image_path( "sandwich4.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Sandwich Campaign</h3>
    <%= link_to "Firespring", "https://firespring.com/" %>
    <p>
      Copy for mailer, landing page and follow-up emails. 
    </p>
  </div>

  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("exchange1.png"), 
                  image_path( "exchange1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("exchange2.png"), 
                  image_path( "exchange2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("exchange3.png"), 
                  image_path( "exchange3.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("exchange4.png"), 
                  image_path( "exchange4.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Exchange Program Materials</h3>
    <%= link_to "Viking Cylinders", "https://vikingcylinders.com/" %>
    <p>
      Copy for brochures, direct mail pieces, door hangers and propane cage signage. 
    </p>
  </div>


  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("greeting1.png"), 
                  image_path( "greeting1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("videothumbnail3.png"), 
                  image_path( "https://vimeo.com/167469469")) %>
      <%= image_tag "playbutton.png", class: "overlay" %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("greeting2.png"), 
                  image_path( "greeting2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("greeting3.png"), 
                  image_path( "greeting3.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Holiday Greeting 2015</h3>
    <%= link_to "Firespring", "https://firespring.com/" %>
    <p>
      Creative concept and copywriting for printed holiday card 
      and digital greeting. 
    </p>
  </div>

  <div class="carousel">
    <div class="gallery">
      <%= link_to( image_tag("newsletter1.png"), 
                  image_path( "newsletter1.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("newsletter2.png"), 
                  image_path( "newsletter2.png")) %>
    </div>
    <div class="gallery">
      <%= link_to( image_tag("newsletter3.png"), 
                  image_path( "newsletter3.png")) %>
    </div>
  </div>
    <div class="desc">
    <h3>Monthly Newsletter</h3>
    <%= link_to "Firespring", "https://firespring.com/" %>
    <p>
      Copywriting.
    </p>
  </div>

</div>