    <span class="name"><%= link_to "hannah bauer", root_path %></span>
    <div id="myLinks">
      <ul>
        <li><%= link_to "hello", hello_path %></li>
        <li><%= link_to "about", about_path  %></li>
        <li><%= link_to "work", work_path %></li>
        <li><%= link_to "contact", contact_path %></li>
        <li><%= link_to "blog", root_path %></li>
        <% if current_admin %>
          <li><%= link_to 'new post', new_post_path, class: "accent" %></li>
          <li><%= link_to 'log out', destroy_admin_session_path,
                  method: :delete, class: "accent" %></li>
        <% end %>
      </ul>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleNavigation()">
      <i class="fa fa-bars"></i>
    </a>