  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="form">
<%= form_with(model: post) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, size: "33x20" %>
  </div>

  <div class="field">
    <span class="image">
      <%= form.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
    </span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
</div>