<% provide(:title, "Blog") %>
<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_post_path %>

<h1>blog</h1>


<div class="blog">
  <% if !@posts.empty? %>
    <% @posts.each do |post| %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p><%= post.summary %><p>
        <%= link_to "read more", post %>
      </div>
    <% end %>
  <% else %>
    <h1>No posts yet!</h1>
  <% end %>
</div>