<% provide(:title, @post.title) %>

<% if current_admin %>
  <%= link_to 'edit', edit_post_path(@post) %> |
  <%= link_to 'delete', post_path(@post), method: :delete, 
      data: { confirm: 'Are you sure you want to delete this post?' } %>
<% end %>

<div class="post">
<h1><%= @post.title %></h1>

<p class="date">Created: <%= @post.created_at.strftime("%B %d, %Y")  %>
  <% if @post.updated_at != @post.created_at %>
   | Updated: <%= @post.updated_at.strftime("%B %d, %Y") %>
  <% end %>
</p>

<p><%= @post.body %></p>
</div>

<p><strong>Leave a comment!</strong></p>

<%= form_with(model: @comment) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, size: "33x2" %>
  </div>

  <%= form.hidden_field :post_id, value: @post.id %>

  <div class="actions">
    <%= form.submit "Post Comment" %>
  </div>
<% end %>


<% @post.comments.reverse_each do |comment| %>
  <% if comment.valid? %>
    <div class="comment">
      <p><% if comment.name.blank? %>
        Anonymous<br>
      <% else %>
        <%= comment.name %><br>
      <% end %></p>
      <span class="date"><%= comment.created_at.try(:strftime, "%B %d, %Y") %></span>
      <p><%= comment.body %></p>
    </div>
  <% end %>
<% end %>