<% provide(:title, @post.title) %>

<% if current_admin %>
  <%= link_to 'edit', edit_post_path(@post) %> |
  <%= link_to 'delete', post_path(@post), method: :delete, 
      data: { confirm: 'Are you sure you want to delete this post?' } %>
<% end %>

<h1><%= @post.title %></h1>

<p class="date">Created: <%= @post.created_at.strftime("%B %d, %Y")  %>
  <% if @post.updated_at != @post.created_at %>
   | Updated: <%= @post.updated_at.strftime("%B %d, %Y") %>
  <% end %>
</p>

<p><%= @post.body %></p>

