<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %> | Hannah Bauer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="topnav">
        <%= render 'shared/navigation' %>
      </nav>
      <% if !current_admin %>
        <p><%= link_to "Preview as Admin", sign_in_preview_admin_path, method: :post, class: "admin-link" %></p>
      <% end %>
      <main>
        <article>
          <% if !notice.nil? %>
            <p id="notice"><%= notice %></p>
          <% end %>
          <% if !alert.nil? %>
            <p id="alert"><%= alert %></p>
          <% end %>
          <%= yield %>
        </article>
      </main>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>

    <script>
    /* Toggle between showing and hiding the navigation menu links */
    document.getElementById("hamburger").addEventListener("click", toggleNavigation);

    function toggleNavigation() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    };
    </script>
  </body>
</html>
