<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hannah Bauer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="topnav">
        <%= render 'shared/navigation' %>
      </nav>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <article>
        <%= yield %>
      </article>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>

    <script>
    /* Toggle between showing and hiding the navigation menu links */
    document.getElementById("hamburger").addEventListener("click", toggleNavigation);

    function toggleNavigation() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    };
    </script>
  </body>
</html>
